.modal-content-custom {
    padding-top: 200px;
    /*padding-bottom: 106px;*/
    width: 100%;
    /*margin-top: 1.75rem;*/
    /*margin: 1.75rem auto;
    margin-top: 1.75rem;
    margin-right: auto;
    margin-bottom: 1.75rem;
    margin-left: auto;*/
    display: flex;
    align-items: center;
    border: none !important;
    text-align: center;
}
.modal-content-custom1 {
    /*display: none;*/
    transition: height 2s;
    width: 100%;
    margin: 1.75rem auto;
    margin-top: 1.75rem;
    margin-right: auto;
    margin-bottom: 1.75rem;
    margin-left: auto;
    display: flex;
    align-items: center;
    border: none !important;
    text-align: center;
}

#holder {
    height: 200px;
    width: 550px;
    background-color: #F5F5F5;
    border: 1px solid #A4A4A4;
    margin-left: 10px;
}

#place {
    position: relative;
    margin: 7px;
}

#place a {
    /*position: absolute;*/
    font-size: 0.6em;
    /*text-align: left;*/
    /*display: flex;*/
}

#place li {
    list-style: none outside none;
    position: absolute;
}

#place li a {
    position: absolute;
    top: 0px;
    left: 0;
}

#place li:hover {
    background-color: gray;
}

#place .seat {
    background: url("../images/available_seat_img.gif") no-repeat scroll 0 0 transparent;
    height: 33px;
    width: 33px;
    display: block;
}

#place .selectedSeat {
    background-image: url("../images/booked_seat_img.gif");
}

#place .selectingSeat {
    background-image: url("../images/selected_seat_img.gif");
}

#place .row-3,
#place .row-4 {
    margin-top: 10px;
}

#seatDescription li {
    vertical-align: middle;
    list-style: none outside none;
    padding-left: 35px;
    height: 35px;
    float: left;
}

.fieldsetContainer {
    height: 100%;
    opacity: 0;
    visibility: hidden;
    /*overflow: hidden;*/
    transition: all 3s ease;
    display: none;
}

#toggle {
    opacity: 0;
    visibility: hidden;
    transition: all 3s ease;
}

#toggle:checked ~ .fieldsetContainer {
    display: inline-block;
    opacity: 1;
    visibility: visible;
    /*transition: all 0.6s ease;*/
}

label .arrow-dn { display: inline-block; }
label .arrow-up { display: none; }

#toggle:checked ~ label .arrow-dn { display: none;}
#toggle:checked ~ label .arrow-up { display: block; }
